/**********************
GENERAL
***********************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: #51B8BF
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}



/**********************
HEADER
***********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1.logo-text {
  font-family: 'Playfair Display SC', serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.85em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************
NAVIGATION
***********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 5px 0 5px;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/**********************
FOOTER
***********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  color: #ccc;
}

.social-icon {
  width: 35px;
  height: 35px;
  margin: 0 5px -10px;
  opacity: 0.7
}

hr {
  height: 1px;
  width: 90%;
  background-color: #999;
  border: none;
  margin-bottom: 15px;
}

/* For sticky footer */
html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -80px;
}

#wrapper:after {
  content: "";
  display: block;
}

footer, #wrapper:after {
  height: 60px;
}
/*End sticky footer code*/



/**********************
PAGE: HOME
***********************/

.profile-photo {
  display: block;
  max-width: 90%;
  margin: 0 auto 10%;
  border-radius: 50%;
}

#welcome {
  font-family: 'Playfair Display SC', serif;
  font-size: 2em;
  text-align: center;
  color: #333;
}

#welcome strong {
  font-size: 1.5em;
}

.cta {
  margin: 15% auto 25%;
  text-align: center;
  background-color: #367b7f;
  padding: 20px;
  border-radius: 8px;

}

.cta a {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  padding: 25px;
  text-align: center;
}



/**********************
PAGE: PORTFOLIO
***********************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  border-radius: 5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li img {
  border-radius: 5%;
}

#gallery li p {
  padding: 0 8px;
}

#gallery li a p,
#gallery li p {
  margin: 0;
  padding: 5%;
}

.shadow {
  box-shadow: 5px 5px 5px black;
}


/**********************
PAGE: ABOUT
***********************/

.about-photo {
  margin-bottom: 20px;
}

.about-headline {
  text-align: center;
  font-size: 2em;
}


/**********************
PAGE: CONTACT
***********************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone:hover {
  text-decoration: underline;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.email a {
  background-image: url('../img/mail.png');
}

.contact-info li.email:hover {
  text-decoration: underline;
}

.contact-headline {
  font-size: 2em;
}



/**********************
PAGE: HOME
***********************/

.resume-headline {
  font-size: 2em;
}



/**********************
COLORS
***********************/

body {
  background-color: #fff;
  color: #555;
}

header {
  background: #51B8BF;
  border-color: #599a68;
}

nav {
  background: #367B7F;
}

h1.logo-text, h2.logo-text {
  color: #fff;
}

#gallery p {
  color: #666;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #6DF6FF;
}
