@media screen and (min-width: 25.93em) {

  .banner-text {
    font-size: 2em;
  }

  .content-img {
    width: 100%
  }
}



@media screen and (min-width: 32.81em) {

  .banner-text {
    font-size: 2.75em;
  }

  #main-book {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: table;
    border-bottom: 1px solid #ccc;
  }

  #main-book img {
    width: 70%;
  }

  #main-book h2 {
    display: table-cell;
    vertical-align: middle;
  }

  .content-img {
    width: 70%
  }

  .lessons a {
    display: inline-block;
    width: 45%;
    font-size: 1.2em;
  }

}



  @media screen and (min-width: 48em) {

  .banner-text {
    font-size: 4em;
  }

  .vid-reviews {
    width: 65%;
    float: left;
  }

  .bonus-info {
    width: 30%;
    float: right;
    background-color: #E5DFCF;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
  }

  .bonus-info h3 {
    color: #222;
    margin-top: 10px;
  }

  .bottom-info {
    clear: left;
    width: 65%;
  }

  .content-img {
    width: 50%
  }
}













